* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: #f8f9fc;
  color: #222;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #111;
  color: white;
}

.logo {
  font-family: 'Poppins', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #667eea;
}

/* HERO */

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.hero h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: white;
  color: #764ba2;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: #f1f1f1;
}

/* SECTIONS */

section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

section h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* PROJECTS */

.project-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-box {
  background: white;
  padding: 30px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.project-box:hover {
  transform: translateY(-5px);
}

/* FOOTER */

footer {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }


}

.contact-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.whatsapp {
  background: #25D366;
  color: white;
}

.whatsapp:hover {
  background: #1ebe5d;
}
